@charset "UTF-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #202020;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

#wrap {
  max-width: 430px;
  margin: 0 auto;
}

/* 첫번째 메인베너&스와이퍼 페이지네이션*/
.main-visible .slide-1 {
  position: relative;
}
.main-visible .slide-1 img {
  -o-object-position: 47% 0;
     object-position: 47% 0;
}
.main-visible .slide-2 img {
  -o-object-position: 50% 0;
     object-position: 50% 0;
}
.main-visible .swiper-slide img {
  display: block;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-visible .swiper-horizontal > .swiper-pagination-bullets, .main-visible .swiper-pagination-bullets.swiper-pagination-horizontal, .main-visible .swiper-pagination-custom, .main-visible .swiper-pagination-fraction {
  position: absolute;
  z-index: 10;
  text-align: center;
  padding-bottom: 10%;
}
.main-visible .swiper-pagination-bullet {
  border-radius: 10%;
  width: 65px;
  height: 2px;
}
.main-visible .swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255);
}

/* 메인베너텍스트박스 */
.banner-textbox {
  transform: translateX(-50%);
  position: absolute;
  z-index: 1;
  bottom: 106px;
  left: 50%;
  white-space: nowrap;
  /* padding-top: 50px; */
  text-align: center;
}

.headline-txtbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline-txt {
  flex-direction: column;
  max-width: 100%;
  color: #fff;
}

.headline-txt2 {
  font-size: 32px;
  line-height: 60.8px;
}

/* 버튼 */
.txt-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.txt-btn a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  color: #000;
}

/* 메인베너텍스트박스2*/
.banner-textbox2 {
  width: 375px;
  transform: translate(0, -300px);
  position: relative;
  z-index: 1;
}

.headline-txtbox2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headline2-txt1 {
  padding-bottom: 10px;
  color: #fff;
  font-size: 32px;
  line-height: 60.8px;
}

/* 두번째 메인섹션 */
.main-product-box2 {
  max-width: 100%;
  display: flex;
  position: relative;
  margin: 50px 0 0 10px;
}
.main-product-box2 .shopping-list {
  flex-grow: 6;
  height: auto;
}
.main-product-box2 .shopping-list img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-product-box2 .main-product-tit-box {
  flex-grow: 4;
  padding: 0 20px;
}
.main-product-box2 .main-product-tit-box .section2-h2 {
  font-size: 32px;
  line-height: 48px;
}
.main-product-box2 .main-product-tit-box .tit-box-select {
  margin-top: 65px;
}
.main-product-box2 .main-product-tit-box .tit-box-select a {
  display: inline-block;
  width: 90px;
  padding: 6px 0;
  background: #000;
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-bottom: 50px;
}

/* 세번째 메인섹션 */
.main-product-box3 {
  margin-top: 50px;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-product-box3 img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
}
.main-product-box3 .main-product-tit-box2 {
  text-align: center;
  position: absolute;
  z-index: 20;
}
.main-product-box3 .main-product-tit-box2 a {
  display: inline-block;
  width: 90px;
  padding: 6px 0;
  background: #000;
  color: #fff;
  font-size: 12px;
}

/*네번째 메인 섹션*/
/*각자 이미지 포지션*/
.listbox-image1 img {
  -o-object-position: 0 0;
     object-position: 0 0;
}

.listbox-image2 img {
  -o-object-position: 59% 0;
     object-position: 59% 0;
}

.listbox-image3 img {
  -o-object-position: 70% 0;
     object-position: 70% 0;
}

.listbox-image4 img {
  -o-object-position: 0% 100%;
     object-position: 0% 100%;
}

/*공통 코드*/
.listbox-wrapper {
  margin: 50px 30px 0 30px;
  position: relative;
}
.listbox-wrapper img {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}
.listbox-wrapper .main-list-txt-box {
  z-index: 30;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  max-width: 100%;
}
.listbox-wrapper .main-list-txt-box a {
  display: inline-block;
  width: 90px;
  padding: 6px 0;
  background: #fff;
  color: #000;
  font-size: 12px;
  text-align: center;
}
.listbox-wrapper .main-list-txt-box h3 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 10px;
}
.listbox-wrapper .main-list-txt-box .list-btn {
  display: flex;
  gap: 10px;
}

.collection-inpage-component {
  position: relative;
  margin-top: 50px;
  width: 100%;
}
.collection-inpage-component img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 72% 0;
     object-position: 72% 0;
}
.collection-inpage-component .collection-inpage-inner-container {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=comm.css.map */